.dom-node {
  font-family: 'PT Sans', sans-serif;
  border: 1px solid saddlebrown;
}
.node-value {
  text-align: center;
}
.left-node {
  border-top: 4px solid #d35400;
  width: 50%;
  float: left;
}
.right-node {
  border-top: 4px solid #0a7c1d;
  width: 50%;
  float: left;
}

.found {
  background: blue;
}