@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

.life__table { border-radius: 8px; padding: 5px; margin: 10px auto; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: #7f9932;  }
.life__table .life__cell { background-color: #e4e4e4; border-radius: 8px; }
.life__table .life__cell.alive { background-color: #4d6b35; }
.life__table .life__cell.wasalive.dead { background-color: #b3d459; }

.life {
  &__title   { display: inline-block; color: #4d6b35; font: 30px 'Indie Flower', cursive; margin: 0; }
  &__control { text-align: center;
    &__button { background: none; border: none; color: #4d6b35; }
  }
}