<article class="listing--students__item">
    <div class="listing--students__avatar"><img src="{{avatar}}" /></div>
    <div class="listing--students__name">{{student_name}}</div>
    <div class="listing--students__completed">{{completed_count}}</div>
    <div class="listing--students__outstanding">{{outstanding_count}}</div>
</article>