<section class="listing" id="studentListing">
    <header class="listing__header">
        <div class="listing--students__headerAvatar"></div>
        <div class="listing--students__headerName">Name </div>
        <div class="listing--students__headerCompleted">Completed </div>
        <div class="listing--students__headerOutstanding">Outstanding </div>
    </header>
  {{#each students}}
    {{> studentRow}}
  {{/each}}
    <nav id="pageScroll">

    </nav>
</section>
<form class="newStudent">
    <div>
        <label for="nameInput">Student's name: </label>
        <input type="text" class="newStudent__nameInput" id="nameInput" />
    </div>
    <div>
        <label for="nameInput">Student's photo: </label>
        <div class="dropbox" id="dropzone" style="width:300px; height:300px;"></div>
    </div>
    <div>
        <input type="submit" class="newStudent__addButton" id="addButton" value="Add" />
    </div>
</form>