.all-logos {
                     border-top: 2px solid #6b6966; border-bottom: 2px solid #6b6966; padding: 20px 0; margin-top: 10px;
  .all-logos__link {
                     background: url("img/all_logos_footer_980.png"); height: 18px; display: inline-block;
                     margin-right: 18px;
    &:last-child   { margin-right: 0; }
  }

  .lviv            { background-position: 0 100%; width: 11%; }
  .lutsk           { background-position: 57% 100%; width: 12.5%; }
  .ternopil        { background-position: 38% 100%; width: 15.5%; }
  .uzhgorod        { background-position: 77% 100%; width: 16%; }
  .frankivsk       { background-position: 16% 100%; width: 16.5%; }
  .chernivtsi      { background-position: 100% 100%; width: 17%; }
}

.logo__img         { width: 160px; padding: 10px 0; vertical-align: middle; }