@font-face {
  font-family: 'HelveticaNeue';
  src: url('../font/eot/HelveticaNeue-UltraLightItalic.eot');
  src: local('☺'), url('../font/woff/HelveticaNeue-UltraLightItalic.woff') format('woff'), url('../font/ttf/HelveticaNeue-UltraLightItalic.ttf') format('truetype'), url('../font/svg/HelveticaNeue-UltraLightItalic.svg') format('svg');
  font-weight: 200;
  font-style: italic;
}