@font-face {
  font-family: 'HelveticaNeue';
  src: url('../font/eot/HelveticaNeue-Medium.eot');
  src: local('☺'), url('../font/woff/HelveticaNeue-Medium.woff') format('woff'), url('../font/ttf/HelveticaNeue-Medium.ttf') format('truetype'), url('../font/svg/HelveticaNeue-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}