@font-face {
  font-family: 'HelveticaNeue';
  src: url('../font/eot/HelveticaNeue-Italic.eot');
  src: local('☺'), url('../font/woff/HelveticaNeue-Italic.woff') format('woff'), url('../font/ttf/HelveticaNeue-Italic.ttf') format('truetype'), url('../font/svg/HelveticaNeue-Italic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}