body {
    font: 15px Verdana, sans-serif;
}

.header, .footer {
    height: 5em;
    width: 100%;
    background-color: #d6d6d6;
    position: fixed;
}

.header {
    top: 0;
    left: 0;
    z-index: 100;
}

.header p {
    font-size: 2.5em;
    text-align: center;
    line-height: 2em;
    color: #717C84;
}

.footer {
    bottom: 0;
    left: 0;
    display: inline-flex;
}

.footer .buttons {
    color: #fff;
    border: 2px solid #ababab;
    height: 50px;
    margin: auto 10px;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #5ea69f;
}

.footer .buttons:hover {
    cursor: pointer;
}

/* Main section styles*/
#main {
    height: 50em;
    background-color: #e6f2ee;
}
.array_block {
    height: 500px;
    margin-top: 5em;
}

.array_block > div {
    height: 100%;
    width: 70%;
    margin: 10px auto;
}

.column {
    width: 4%;
    background-color: yellow;
    border: 1px solid #ababab;
    border-radius: 3px;
    float: left;
    margin: 2em .23em;
    text-align: center;
    z-index: 99;
}

