body {
    margin:0;
    padding:0;
    font: 18px 'Oswald', sans-serif;
}

.container {
    margin:50px;
    text-align: center;
}

.test-button {
    position: fixed;
    top:25px;
    right:50px;
    display:block;
}