* { margin: 0; padding: 0; }
a { text-decoration: none; color: #575757; }
h1 { font-weight: normal; }
body { background: #f7f4ef; font: 12px arial; color: #6b6966;  }

.wrap { margin: 0 auto; width: 980px; }

/* Header */
   header { position: fixed; width: 100%; background: #333333; z-index: 5; }

    /* main menu */
       .logo img { width: 160px; padding: 10px 0; vertical-align: middle; }
       .search {height: 18px; width: 18px; margin: 15px 30px; float: right; border-right: none !important; }
       .main-menu { height: 51px; }
       .main-menu a { border-top: 5px solid #333333; border-right: 1px solid #525252; color: #ffffff; font-weight: bold; padding: 13px 15px 18px; text-transform: uppercase; transition: border-top-color 0.3s ease 0s; margin: 0; }
       .main-menu a:first-child { padding-left: 0; }
       .main-menu a:hover { background: #222; }
       .main-menu a:first-child:hover,
       .main-menu a:last-child:hover { background: none; }

    /* sub menu */
       .sub-menu { background: #f2f2f2; border-bottom: 1px solid #e2e1dc; }
       .sub-menu a { color: #348fd8; }

/* Main part */
   main { margin-top: 50px; }

   .see-more { text-decoration: underline; font-size: 12px; padding-top: 4px; float: right; }

   .block { border-top: 5px solid #ffffff; margin-bottom: 10px; }
   .block h1 { font-size: 18px; display: inline-block; padding-bottom: 10px; }
   .block h2 { font-weight: 700; font-size: 14px; color: #575757; }
   .block article img { width: 100%; }

   .photo,
   .info:hover { border-top-color: #8f2c7a; }
   .photo h1 { color: #8f2c7a; }

   .today,
   .restaurants,
   .resto:hover,
   .studie:hover { border-top-color: #f27410; }
   .today h1,
   .restaurants h1 { color: #f27410; }

   .today img,
   .restaurants img { width: 60px !important; height: 60px; float: left; }
   .today h2,
   .today p,
   .restaurants p,
   .restaurants h2 { margin-left: 70px; }
   .today article,
   .articles article,
   .apartments article,
   .restaurants article { border-bottom: 1px dotted #b4b4b4; padding: 10px 0; }
   article:last-child { border-bottom: none; }

   .articles,
   .locations:hover { border-top-color: #b41903; }
   .articles h1 { color: #b41903; }

   .video,
   .recommend,
   .excursions,
   .events:hover,
   .tourism:hover,
   .more:hover { border-top-color: #348fd8; }
   .video h1,
   .recommend h1,
   .excursions h1  { color: #348fd8; }
   .excursions h1 { display: block; }

   .apartments,
   .dwelling:hover { border-top-color: #0a7c1d; }
   .apartments h1 { color: #0a7c1d; }
   .apartments img { height: 75px; width: 100px !important; float: left; margin-right: 10px; }

   .advertisement { border-top-color: #333; }
   .advertisement h1 { color: #333; }

/* Footer */
   footer { background: #333333; width: 100%; overflow: hidden; }
   footer h3 { border-bottom: 2px solid #ffffff; font-size: 14px; font-weight: normal; color: #ffffff; padding: 10px 0 5px 5px; width: 305px; }
   footer a { color: #ffffff; }
   footer ul { color: #ffffff; margin: 10px 0 0 15px; }
   footer .grid_4 { margin-top: 10px; }

   /* links for following */
      .vk { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/social_icons.png") 100% 43% /100%  no-repeat; }
      .lg { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/social_icons.png") 100% 57% /100%  no-repeat; }
      .rss { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/social_icons.png") 100% 0 /100%  no-repeat; }
      .twitter { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/social_icons.png") 100% 14.5% /100%  no-repeat; }
      .facebook { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/social_icons.png") 100% 29% /100%  no-repeat; }
      .pinterest { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/social_icons.png") 100% 85.5% /100%  no-repeat; }
      .instagram { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/social_icons.png") 100% 100% /100%  no-repeat; }
      .google-plus { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/social_icons.png") 100% 72% /100%  no-repeat; }
      .follow { width: 30px; height: 30px; display: inline-block; margin: 25px 0 5px 5px; }

   /* all logos */
      .lviv { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/all_logos_footer_980.png") 0 100% no-repeat;
              width: 11%; }
      .lutsk { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/all_logos_footer_980.png") 57% 100% no-repeat;
         width: 12.5%; }
      .ternopil { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/all_logos_footer_980.png") 38% 100% no-repeat;
         width: 15.5%; }
      .uzhgorod { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/all_logos_footer_980.png") 77% 100% no-repeat;
         width: 16%; }
      .frankivsk { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/all_logos_footer_980.png") 16% 100% no-repeat;
         width: 16.5%; }
      .chernivtsi { background: url("http://lviv-online.com/ua/wp-content/themes/eventsguide_lviv/images/all_logos_footer_980.png") 100% 100% no-repeat;
         width: 17%; }

      .all-logos { border-top: 2px solid #6b6966;  border-bottom: 2px solid #6b6966; padding: 20px 0; margin-top: 10px;  }
      .all-logos a { height: 20px; display: inline-block; margin-right: 19px; }
      .all-logos a:last-child { margin-right: 0; }

   /* copyright */
      .copyright { border-bottom: 2px solid #6b6966; padding: 5px 0; font-size: 11px; margin-bottom: 10px; }