
.logo {
  height: 80px;
  margin-left: -14px;
  margin-right: 35px;
  min-width: 125px;
  position: relative;
@import "links";
  &__main{
    background: url(http://staticcdn.luxnet.ua/tv24/assets2/images/logos-s73cfa151f1.png) no-repeat 0 -90px;
    z-index: 4;
  }
  &__radio{
    background: url(http://staticcdn.luxnet.ua/tv24/assets2/images/logos-s73cfa151f1.png) no-repeat 0 -180px;
    z-index: 3;
  }
  &__football{
    background: url(http://staticcdn.luxnet.ua/tv24/assets2/images/logos-s73cfa151f1.png) no-repeat 0 0px;
    z-index: 2;
  }
  &__zaxid_net{
    background: url(http://staticcdn.luxnet.ua/tv24/assets2/images/logos-s73cfa151f1.png) no-repeat 0 -270px;
    z-index: 1;
  }
}



