body {
    background-color: #F0EEE9;
    font-family: Arial;
    color: #6B6966;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    height: 45px;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
}

.show-skeleton header{background: #333333;}
.show-skeleton .container{background: #FFFFFF;}
.show-skeleton footer{background: #333333;}

h1 {
    font: bold 17px Tahoma, Arial;
    padding-bottom: 5px;
    border-bottom: 3px solid #929292;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-family: Arial;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 7px;
    text-transform: uppercase;
}

h3 {
    font-size: 1em;
    color: #444;
    margin: 3px 0px 8px;
}

h4{
    font-size: 0.8em;
    margin: 0;
}

a {
    text-decoration: none;
    color: #929292;
}

img {
    max-width: 100%;
}

form {
    padding: 12px 0;
}

main {
    margin: 50px auto 0 auto;
}

footer {    
    border-top: 1px solid #000000;
	left: 0;
	right: 0;
	bottom: 0;
    box-shadow: 0 -2px 2px -1px rgba(0, 0, 0, 0.3);
}

.content-wrap {
    width: 1000px;
    margin: auto;
	overflow: hidden;
}

header nav {
    font-size: 0.9em;
}

nav > a {
    padding: 10px 12px 10px 12px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    float: left;
}

nav a:not(:first-child),
nav a:not(:last-of-type) {
    margin-top: 3px;
}

nav a:first-child {
    padding: 5px 10px 0 0;
    }

nav a:last-of-type {
    margin-top: 0px;
    padding-right: 24px;
}

nav img {
    display: block;
}

#searchform input {
    border: none;
    width: 150px;
    float: left;
    min-height: 18px;
    font-size: 0.9em;
    padding: 0px;
}

#searchform button {
    border: none;
    background-color: #B41903;
    color: #FFFFFF;
    min-height: 18px;
    font-size: 0.9em;
    padding: 0px;
}

nav a:hover {
    background-color: #348FD8;
    transition: background-color 0.3s ease;
}

nav a:first-child:hover {
    background-color: #333;
}

main .news-ppl-map-ads,
main .big-posts,
main .events-cityinfo {
    float: left;
}

main a:hover,
footer a:hover {
    text-decoration: underline;
}

.news-ppl-map-ads {
    width: 26%;
}

.big-posts {
    width: 48%;
    margin: 0 10px;
}

.events-cityinfo {
    width: 24%;
}

.container {
    padding: 10px;
    margin-bottom: 10px;
}

h3 a, h2 a, h4 a {
    color: #444;
    text-decoration: none;
    font-style: normal;
  }

.Recent_news time {
    font-size: 0.7em;
    font-style: italic;
    font-weight: bold;
    color: #939393;
    padding: 0;
    margin: 0;
}

img.profile {
    border-radius: 100%;
    padding-bottom: 5px;
}

.post {
    font-size: 0.8em;
    margin: 5px 0;
    color: #939393;
}

article:not(.Recent_news){
    margin-top: 10px;
    border-bottom: 1px dotted #929292;
}
	
.Recent_news {
margin: 15px 0px;
}

article:last-child {
    border-bottom: none;
}

article img:hover {
    opacity: 0.85;
    transition: opacity 0.3s ease;
}

footer a{
    color: #FFFFFF;
    text-decoration: none;
}

.add-info,
.our-links{
    display: inline-block;
    width: 31.3%;
    float: left;
    padding: 10px 1%;
    color: #FFFFFF;
    margin: 0 auto;
}

.add-info p,
.our-links p{
    border-bottom: 2px solid #ffffff;
    margin: 0px;
}

.our-links{
    text-align: center
}

.our-links img{
    width: 25px;
    height: 25px;
    margin: -15px 0 5px 10px;
}

footer ul{
    font-size: 12px;
    margin: 10px 0 0 15px;
    padding: 0px;
}

.copyright p {
    font-size: 0.7em;
    clear: both;
    padding: 10px;
    border-top: 2px solid #6b6966;
    margin: 0px;
}
.our-links > a img{
    width: auto;
    height: auto;
    margin: 0;
}

footer .content-wrap{
    padding-top: 15px;
}

.bicycle-bullet {
    padding: 5px;
    float: left;
    background: #0055CC;
    color: #ffffff;
    border-radius: 100%;
	border: 1px solid #ffffff;
    font-size: 20px;
    margin: 10px 0 0 0;
    height: 22px;
    width: 22px;
    text-align: center;
    line-height: 27px;
}

.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.description {
    margin-left: 40px;
}