div {
    width: 70px; height: 70px;
    display: inline-block;
    margin-right: 5px;
}

div:hover.b { background: blue; }
div:hover.r { background: yellow; }
.b { background: black; }
.r { background: #ff0000; }

