.wrap                           { max-width: 970px; margin: 0 auto; }

a                               { text-decoration: none; }
body                            { font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif; margin: 0; padding: 0; }


/*Header: navigation, search panel*/
header                          { background-color: #333333; height: 50px; width: 100%; }
header a                        { color: #999; font-size: 13px; }
header a:hover,
header a.active                 { color: #fff; }

.logo                           { position: relative; top: 3px; }

/*drop down*/
.dropDown                       { display: inline-block; list-style: none; }
.dropDown ul                    { list-style: none; position: absolute; left:-9999px; }
.dropDown ul a                  { font-size: 12px; white-space: nowrap; }
.dropDown ul li                 { float: none; padding-top: 5px; }
.dropDown li:hover ul           { border-radius: 5px; padding: 15px; z-index: 5; }
.dropDown li:hover ul a         { text-decoration: none; }

/*main navigation*/
.mainNav                        { margin: 15px 0 0 -14px; }
.mainNav ul                     { background: #333; }
.mainNav li                     { float: left; margin-right: 20px; position: relative; }
.mainNav li:hover ul            { left: -10px; }
.mainNav li:hover a             { background: #333; margin: 5px 0; }
.mainNav li:hover ul li a:hover { color: #ddd; background: rgba(255, 255, 255, 0.1); }

.search                         { float: right; border-radius: 5px; width: 190px; color: #777; font: 12px Helvetica,​Arial,​sans-serif;
                                  background: #fff 7px 50% url("https://d13yacurqjgara.cloudfront.net/assets/icon-search-26f72d08a1058cc4ddf5f675bdbe7dda.png") no-repeat;
                                  margin-top: 11px;border: 1px solid #333333; padding: 5px 5px 5px 25px; }
.authorization                  { float: right; line-height: 50px; margin-right: 14px; }
.authorization a                { margin-right: 15px; }


/*Main part: header, secondary navigation, section with dribbles, aside*/
main                            { background-color: #f0f0f0; border-bottom: 1px solid #e4e4e4;}

/*Main part header*/
.banner                         { background-color: #e7e7e7; border-radius: 0 0 6px 6px; text-align: center;
                                  padding: 20px; width: 930px; }
.banner h1                      { margin: 0; padding: 0; font-size: 16px; color: #777; line-height: 1.3;
                                  display: inline-block;
                                  font-weight: normal; }
.banner h1 strong               { color: #333; }
.banner button                  { color: #ffffff; border: none; background-color: #acacac; border-radius: 4px;
                                  font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif; margin: 0 0 0 5px;
                                  padding: 3px 9px; }
.banner button:hover            { background: rgba(0, 0, 0, 0.4); }
.banner button:last-child       { background-color: #ed6a9c; }
.banner button:last-child:hover { background-color: #de3b7e; }

/*Filters*/
.filters                        { display: block; height: 50px; }
.filters a                      { background: 95% 22px url("https://d13yacurqjgara.cloudfront.net/assets/icon-dd-arrow-5c4f50125fd8925b6fc3a751212ccf42.png") no-repeat;
                                 color: #444; font-size: 14px; display: inline-block; padding: 5px; }
.filters ul                     { background: #fff; }
.filters li                     { float: left; margin-right: 20px; position: relative; }
.filters li:hover ul            { left: 0; padding: 5px; }
.filters li:hover a             { color: #999; background: #fff; border-radius: 5px; }
.filters li:hover ul li a:hover { color: #777; background: #eee; }

/*Section - dribbles*/
.portfolio-item {
    margin-bottom: 15px;

    position:relative;
}
.portfolio-item img {
    display:block;
    width: 276px;
    height:auto;
}
.content {
    position:absolute;
    top:0;
    left: 0;
    width:94%;
    height:92%;
    background:#E74C3C;
    opacity:0;
    transition: opacity 0.1s;
    padding: 3%;
}
.portfolio-item:hover .content {
    opacity:0.8;
}


/*.item                          { display: block; margin-right: 3.09278%; width: 22.6804%; position: relative; }*/
/*.dribble                       { background-color: #ffffff; border-radius: 3px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); }*/

/*.dribbleShot                   { padding: 10px;margin-bottom: 15px; float:left; position:relative; }*/
/*.dribbleShot img               { display: block; width: 276px; height:auto; }*/
/*.dribbleOver                   { opacity: 0; padding: 5px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: opasity 0.1s; }*/
/*.dribbleShot:hover .dribbleOver             { opacity: 0.8; }*/

/*.dribbleOver p                 { color: #777; font-size: 11px; line-height: 1.4; margin: 4px 0 10px; }*/
/*.dribbleOver time              { color: #999; font-size: 12px; }*/
/*.dribbleOver strong            { color: #444; font-weight: 500; }*/

section                        { border-top: 1px solid #ddd; border-bottom: 2px solid #ddd; padding: 15px 0; }

/*Tools*/
.tools                         { display: inline-block; margin: 10px;}
.tools a                       { font-size: 11px; color: #aaa; width: auto; padding-left: 15px;}
.views                         { background: 0 0 url("https://d13yacurqjgara.cloudfront.net/assets/icon-views-sm-1a637a10c844735a42101ff0aa5a54a9.png") no-repeat;}
.favorite                      { background: 0 0 url("https://d13yacurqjgara.cloudfront.net/assets/icon-hearts.png") no-repeat;}
.comments                      { background: 0 0 url("https://d13yacurqjgara.cloudfront.net/assets/icon-comments-6dcb05053267d29093d28f115244dfc7.png") no-repeat;}

/*Pagination*/
.nextPage                      { background: 0 0 url("https://d13yacurqjgara.cloudfront.net/assets/icon-next-d12fb3779fe16fdf10bbe87ee51f9449.png") no-repeat;}
.prevPage                      { background: 0 0 url("https://d13yacurqjgara.cloudfront.net/assets/icon-previous-348cbf232ad38bbe125750d0dcd28216.png") no-repeat;}
.disabled
.pagination div                { display: inline-block; height: 44px; margin: 0 10px; width: 44px;}

/*Aside*/
.job div a                     { padding: 7px 0; display: inline-block;}
.shop                          { color: #4083a9; font-weight: bold;}
.shop:hover                    { color: #205f82;}
.position                      { color: #777;}
.meta, .company                { color: #444;}
aside .col                     { color: #999; font-size: 0.9em; display: inline-block; width: 31.2715%; vertical-align: top;
                                 margin: 20px 26px 20px 0;}
aside .col:last-child          { margin-right: 0; }
aside a                        { color: #999;}
aside a:hover                  { color: #4083a9;}
aside h3                       { background: rgba(0, 0, 0, 0) 44% 5px  url("https://d13yacurqjgara.cloudfront.net/assets/icon-grey-arrow-6eb20c21b37559772898c04ea509985f.png") no-repeat scroll;
                                 color: #999; font-size: 14px; font-weight: normal;}
aside img                      { float: left; margin: 0 5px 0 0; width: 100px;}


/*Footer*/
footer                         { padding-top: 30px; }
footer p                       { color: #999; font-size: 12px; line-height: 1.6; }
footer a                       { color: #999; font-size: 12px; line-height: 1.8; display: block; }
footer a:hover                 { color: #777; }
footer h3                      { color: #777; font-size: 12px; margin: 0 0 4px; }
footer .col                    { float: left; width: 220px; margin: 0 30px 20px 0; }
footer .col.last               { margin: 0; }

.motto                         { color: #999; font-size: 14px; line-height: 1.6;}
.copyright                     { clear: left; float: left; }
.logoFooter                    { background: url("https://d13yacurqjgara.cloudfront.net/assets/logo-footer-hd-58c942e7b928a378b6440a775a054c4f.png") no-repeat;
                                 width: 80px; height: 20px; background-size: cover;}
.pixelCounter                  { background: url("https://d13yacurqjgara.cloudfront.net/assets/ball-2ce8757af68d20d845a82c883093c02a.png") no-repeat;
                                 font-size: 13px; padding-left: 54px; float: right; display: inline-block;}
.pixelCounter strong           { color: #333; display: block; font-weight: bold; font-size: 20px; line-height: 1.2; padding-top: 4px;}

/*links for following*/
.follow                        { float: left; clear: left;}
.follow a                      { display: inline; margin: 0 5px 0 0;}
.follow img                    { width: 24px; border-radius: 50%; opacity: 0.37;}
.follow img:hover              { opacity: 0.72; }

