@font-face {
  font-family: 'Conv_HelveticaNeue-Italic';
  src: url('../font/HelveticaNeue-Italic.eot');
  src: local('☺'), url('../font/HelveticaNeue-Italic.woff') format('woff'), url('../font/HelveticaNeue-Italic.ttf') format('truetype'), url('../font/HelveticaNeue-Italic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}