@font-face {
  font-family: 'HelveticaNeue';
  src: url('../font/eot/HelveticaNeue-Light.eot');
  src: local('☺'), url('../font/woff/HelveticaNeue-Light.woff') format('woff'), url('../font/ttf/HelveticaNeue-Light.ttf') format('truetype'), url('../font/svg/HelveticaNeue-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}