@font-face {
  font-family: 'Conv_HelveticaNeue-BoldItalic';
  src: url('../font/HelveticaNeue-BoldItalic.eot');
  src: local('☺'), url('../font/HelveticaNeue-BoldItalic.woff') format('woff'), url('../font/HelveticaNeue-BoldItalic.ttf') format('truetype'), url('../font/HelveticaNeue-BoldItalic.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}