@font-face {
  font-family: 'HelveticaNeue';
  src: url('../font/eot/HelveticaNeue-UltraLight.eot');
  src: local('☺'), url('../font/woff/HelveticaNeue-UltraLight.woff') format('woff'), url('../font/ttf/HelveticaNeue-UltraLight.ttf') format('truetype'), url('../font/svg/HelveticaNeue-UltraLight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}