@font-face {
  font-family: 'Conv_HelveticaNeue-UltraLightItalic';
  src: url('../font/HelveticaNeue-UltraLightItalic.eot');
  src: local('☺'), url('../font/HelveticaNeue-UltraLightItalic.woff') format('woff'), url('../font/HelveticaNeue-UltraLightItalic.ttf') format('truetype'), url('../font/HelveticaNeue-UltraLightItalic.svg') format('svg');
  font-weight: 200;
  font-style: italic;
}