@font-face {
  font-family: 'Conv_HelveticaNeue-Medium';
  src: url('../font/HelveticaNeue-Medium.eot');
  src: local('☺'), url('../font/HelveticaNeue-Medium.woff') format('woff'), url('../font/HelveticaNeue-Medium.ttf') format('truetype'), url('../font/HelveticaNeue-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}