@font-face {
  font-family: 'Conv_HelveticaNeue-LightItalic';
  src: url('../font/HelveticaNeue-LightItalic.eot');
  src: local('☺'), url('../font/HelveticaNeue-LightItalic.woff') format('woff'), url('../font/HelveticaNeue-LightItalic.ttf') format('truetype'), url('../font/HelveticaNeue-LightItalic.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}