@font-face {
  font-family: 'Conv_HelveticaNeue-Bold';
  src: url('../font/HelveticaNeue-Bold.eot');
  src: local('☺'), url('../font/HelveticaNeue-Bold.woff') format('woff'), url('../font/HelveticaNeue-Bold.ttf') format('truetype'), url('../font/HelveticaNeue-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}