@font-face {
  font-family: 'HelveticaNeue';
  src: url('../font/eot/HelveticaNeue-BoldItalic.eot');
  src: local('☺'), url('../font/woff/HelveticaNeue-BoldItalic.woff') format('woff'), url('../font/ttf/HelveticaNeue-BoldItalic.ttf') format('truetype'), url('../font/svg/HelveticaNeue-BoldItalic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}