@font-face {
  font-family: 'Conv_HelveticaNeue-UltraLight';
  src: url('../font/HelveticaNeue-UltraLight.eot');
  src: local('☺'), url('../font/HelveticaNeue-UltraLight.woff') format('woff'), url('../font/HelveticaNeue-UltraLight.ttf') format('truetype'), url('../font/HelveticaNeue-UltraLight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}