@font-face {
  font-family: 'Conv_HelveticaNeue';
  src: url('../font/HelveticaNeue.eot');
  src: local('☺'), url('../font/HelveticaNeue.woff') format('woff'), url('../font/HelveticaNeue.ttf') format('truetype'), url('../font/HelveticaNeue.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}