@charset "UTF-8";
@font-face {
  font-family: 'Conv_HelveticaNeue-Bold';
  src: url("../font/HelveticaNeue-Bold.eot");
  src: local("Γÿ║"), url("../font/HelveticaNeue-Bold.woff") format("woff"), url("../font/HelveticaNeue-Bold.ttf") format("truetype"), url("../font/HelveticaNeue-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_HelveticaNeue-Light';
  src: url("../font/HelveticaNeue-Light.eot");
  src: local("Γÿ║"), url("../font/HelveticaNeue-Light.woff") format("woff"), url("../font/HelveticaNeue-Light.ttf") format("truetype"), url("../font/HelveticaNeue-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_HelveticaNeue';
  src: url("../font/HelveticaNeue.eot");
  src: local("Γÿ║"), url("../font/HelveticaNeue.woff") format("woff"), url("../font/HelveticaNeue.ttf") format("truetype"), url("../font/HelveticaNeue.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_HelveticaNeue-Italic';
  src: url("../font/HelveticaNeue-Italic.eot");
  src: local("Γÿ║"), url("../font/HelveticaNeue-Italic.woff") format("woff"), url("../font/HelveticaNeue-Italic.ttf") format("truetype"), url("../font/HelveticaNeue-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_HelveticaNeue-Medium';
  src: url("../font/HelveticaNeue-Medium.eot");
  src: local("Γÿ║"), url("../font/HelveticaNeue-Medium.woff") format("woff"), url("../font/HelveticaNeue-Medium.ttf") format("truetype"), url("../font/HelveticaNeue-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_HelveticaNeue-UltraLight';
  src: url("../font/HelveticaNeue-UltraLight.eot");
  src: local("Γÿ║"), url("../font/HelveticaNeue-UltraLight.woff") format("woff"), url("../font/HelveticaNeue-UltraLight.ttf") format("truetype"), url("../font/HelveticaNeue-UltraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_HelveticaNeue-BoldItalic';
  src: url("../font/HelveticaNeue-BoldItalic.eot");
  src: local("Γÿ║"), url("../font/HelveticaNeue-BoldItalic.woff") format("woff"), url("../font/HelveticaNeue-BoldItalic.ttf") format("truetype"), url("../font/HelveticaNeue-BoldItalic.svg") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Conv_HelveticaNeue-LightItalic';
  src: url("../font/HelveticaNeue-LightItalic.eot");
  src: local("Γÿ║"), url("../font/HelveticaNeue-LightItalic.woff") format("woff"), url("../font/HelveticaNeue-LightItalic.ttf") format("truetype"), url("../font/HelveticaNeue-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_HelveticaNeue-UltraLightItalic';
  src: url("../font/HelveticaNeue-UltraLightItalic.eot");
  src: local("Γÿ║"), url("../font/HelveticaNeue-UltraLightItalic.woff") format("woff"), url("../font/HelveticaNeue-UltraLightItalic.ttf") format("truetype"), url("../font/HelveticaNeue-UltraLightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.font-demo {
  font-size: 18px;
  padding: 20px; }
  .font-demo__name {
    font-size: 14px;
    color: #c2ba97; }
  .font-demo__block {
    text-align: center;
    color: #414141; }
  .font-demo__title {
    color: #6f0f10; }
  .font-demo__bold {
    font-family: Conv_HelveticaNeue-Bold, sans-serif; }
    .font-demo__bold--italic {
      font-family: Conv_HelveticaNeue-BoldItalic, sans-serif; }
  .font-demo__light {
    font-family: Conv_HelveticaNeue-Light, sans-serif; }
    .font-demo__light--italic {
      font-family: Conv_HelveticaNeue-LightItalic, sans-serif; }
  .font-demo__normal {
    font-family: Conv_HelveticaNeue, sans-serif; }
  .font-demo__medium {
    font-family: Conv_HelveticaNeue-Medium, sans-serif; }
  .font-demo__italic {
    font-family: Conv_HelveticaNeue-Italic, sans-serif; }
  .font-demo__ultralight {
    font-family: Conv_HelveticaNeue-UltraLight, sans-serif; }
    .font-demo__ultralight--italic {
      font-family: Conv_HelveticaNeue-UltraLightItalic, sans-serif; }
  .font-demo .cite__author {
    float: right;
    font-size: 14px;
    margin: 20px;
    color: #c2ba97; }

/*# sourceMappingURL=main.css.map */
