@import "font__bold";
@import "font__light";
@import "font__normal";
@import "font__italic";
@import "font__medium";
@import "font__ultralight";
@import "font__bold--italic";
@import "font__light--italic";
@import "font__ultralight--italic";

.font-demo      {
                  font-size: 18px; padding: 20px;
  &__name       { font-size: 14px; color: #c2ba97; }
  &__block      { text-align: center; color: #414141; }
  &__title      { color: #6f0f10; }

  //  Font-Family
  &__bold       {
                  font-family: Conv_HelveticaNeue-Bold, sans-serif;
    &--italic   { font-family: Conv_HelveticaNeue-BoldItalic, sans-serif; }
  }
  &__light      {
                  font-family: Conv_HelveticaNeue-Light, sans-serif;
    &--italic   { font-family: Conv_HelveticaNeue-LightItalic, sans-serif; }
  }
  &__normal     { font-family: Conv_HelveticaNeue, sans-serif; }
  &__medium     { font-family: Conv_HelveticaNeue-Medium, sans-serif; }
  &__italic     { font-family: Conv_HelveticaNeue-Italic, sans-serif; }
  &__ultralight {
                  font-family: Conv_HelveticaNeue-UltraLight, sans-serif;
    &--italic   { font-family: Conv_HelveticaNeue-UltraLightItalic, sans-serif; }
  }
  //  end of Font-Family

  .cite__author  { float: right; font-size: 14px; margin: 20px; color: #c2ba97; }
}
