/**
 * Gridpak Beta SCSS 
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */

/* Reusable column setup */

@mixin col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.col {
   @include col;
}

@mixin span($num, $gutter_pc, $gutter_px, $padding, $max_columns) {
    $one_col: (100% - ($gutter_pc * ($max_columns - 1))) / $max_columns;
    width:($one_col * $num) + ($gutter_pc * ($num - 1));
    border-left-width:$gutter_px;
    padding:$padding;
    margin-left:$gutter_pc;
}

@mixin span_first {
    margin-left:0;
}
 

    /* 1. 16 Column Grid 0px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    6.25%
    Span 2:    12.5%
    Span 3:    18.75%
    Span 4:    25.0%
    Span 5:    31.25%
    Span 6:    37.5%
    Span 7:    43.75%
    Span 8:    50.0%
    Span 9:    56.25%
    Span 10:    62.5%
    Span 11:    68.75%
    Span 12:    75.0%
    Span 13:    81.25%
    Span 14:    87.5%
    Span 15:    93.75%
    Span 16:    100%
    
    ----------------------------------------------------------------------------- */	
    
	@media screen and (min-width: 0px) {
        
        .row {
            margin-left:-0px;
        }
        
        .col {
            border-left-width:0px;
            padding:0 3.5px;
        }
        
        /* --- Gridpak variables ---*/ 
        $max_columns: 16;
        $padding: 0 3.5px;
        $gutter_px: 0px;
        $gutter_pc: 0;
        

        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        
        */
        .span_1 {
            @include span(1, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_2 {
            @include span(2, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_3 {
            @include span(3, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_4 {
            @include span(4, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_5 {
            @include span(5, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_6 {
            @include span(6, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_7 {
            @include span(7, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_8 {
            @include span(8, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_9 {
            @include span(9, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_10 {
            @include span(10, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_11 {
            @include span(11, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_12 {
            @include span(12, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_13 {
            @include span(13, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_14 {
            @include span(14, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_15 {
            @include span(15, $gutter_pc, $gutter_px, $padding, $max_columns);
        }
        .span_16 {
            @include span_first;
            width:100%;
        }
    }
 
