$width:30px;
$height:$width;
$border_width:1px;
.weak {
  float: left;
  margin: 2px;
  width: $width;
  height:$height;
  background: #a745ff;
}
.day {
 @extend .weak;
  background: rgba(47, 151, 82, 0.31);
  &--empty {
    background: rgba(62, 69, 67, 1);
    color: white;
  }
  &--current{
    border: 1px solid #ff0000;
    width: $width - $border_width*2;
    height:$height - $border_width*2;
  }
  &--selected{
    border: 1px dashed #ff0000;
    width: $width - $border_width*2;
    height:$height - $border_width*2;
  }
  &--event{
    background: #ffa68b;
  }
}
