/*
Error: Invalid CSS after "...-size: 16px;'' ": expected "{", was "}"
        on line 1 of showcase.scss

1: .showcase__title { font-size: 16px;'' }

Backtrace:
showcase.scss:1
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1167:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:636:in `ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:650:in `block_contents'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:50:in `process_result'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/bin/scss:13:in `<top (required)>'
C:/Ruby193/bin/scss:23:in `load'
C:/Ruby193/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...-size: 16px;'' \": expected \"{\", was \"}\"\A         on line 1 of showcase.scss\A \A 1: .showcase__title { font-size: 16px;'' }"; }
