@mixin column-gap($gap) {
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
}

@mixin column-count($count) {
  -webkit-column-count: $count;
  -moz-column-count: $count;
  column-count: $count;
}

.dribbles {
                            overflow: hidden; padding-top: 30px; @include column-gap(30px); @include column-count(4);
  time                    { bottom: 10px; color: #999; display: block; font-size: 12px; font-style: normal;
                            left: 20px; line-height: 1; margin: 0 0 3px; position: absolute; }
  .dribble__comment       { font-size: 11px; color: #777; display: block; line-height: 1.4; margin: 0 0 10px;
                            overflow: hidden; text-overflow: ellipsis; height: 90px; }
  .dribble                { position: relative; border-radius: 3px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
                            background: white; padding: 10px; }
  .dribbl__img            { display: block; height: auto; }
  .dribble-pack           { display: inline-block; margin-bottom: 30px; }
  .dribble__title         { color: #444; display: block; line-height: 1.2; margin: 0 0 4px; }
  .dribble__content       { display: block; position: absolute; top: 0; left: 0; width: 78%; height: 64%;
                            background: white; opacity: 0; transition: opacity 0.3s; padding: 20px; }
  .dribble__content:hover { opacity: 0.95; }

  /* information about views, comments, etc */
  .tools                  { margin: 10px 0 0; display: block; overflow: hidden; }
  .tools a                { font-size: 11px; color: #777; margin: 0 5px; float: right; }
  .tools i                { color: #999; }

  .tools__views           { background: url("../img/icon-views-sm.png") 0 50% no-repeat; padding-left: 18px; }
  .tools__comments        { background: url("../img/icon-comments.png") 0 -4.5% no-repeat; padding-left: 15px; }
  .tools__favorite        { background: url("../img/icon-hearts.png?2") 0 -6.5% no-repeat; padding-left: 15px; }


}