.pixel-counter         { background: url("../img/ball.png") no-repeat; font-size: 13px; padding-left: 54px; float: right;
                         display: inline-block; }
.pixel-counter--strong { color: #333; display: block; font-weight: bold; font-size: 20px; line-height: 1.2;
                         padding-top: 4px; }