@font-face {
  font-family: 'HelveticaNeue';
  src: url('../font/eot/HelveticaNeue-Bold.eot');
  src: local('☺'), url('../font/woff/HelveticaNeue-Bold.woff') format('woff'), url('../font/ttf/HelveticaNeue-Bold.ttf') format('truetype'), url('../font/svg/HelveticaNeue-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}