@import "keyframes";

.target          { width: 100px; height: 61px; float: right; margin-top: -90px; padding-top: 50px; color: white;
                   font: 14px sans-serif; background: url("../img/apple.png") no-repeat; text-align: center;
  &:hover        { background-position: 50%; transition: background-position 0s 6.5s; }
}
.caterpillar     {
                   width: 680px; margin: 150px auto 0;
  &__segment     { width: 20px; height: 20px; border-radius: 20px; background: greenyellow; margin: -3px;
                   display: inline-block; position: relative; }
  &:hover .two   { animation: two-move 8s; }
  &:hover .six   { animation: six-move 8s; }
  &:hover .head  { animation: head-move 8s; }
  &:hover .tail  { animation: tail-move 8s; }
  &:hover .four  { animation: four-move 8s; }
  &:hover .five  { animation: five-move 8s; }
  &:hover .three { animation: three-move 8s; }
  &:hover .seven { animation: seven-move 8s; }
  &:hover .eight { animation: eight-move 8s; }
}